.document-teaser .teaser-container.link:hover {
    background-color: var(--main-bg-color-hover);
}

.document-teaser .teaser-container .row {
    align-items: center;
}

.document-teaser .short-description {
    font-size: .9rem;
}

.document-teaser .limit-height,
.document-teaser .limit-height h3,
.document-teaser .limit-height h4 {
    width: 279px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document-teaser .teaser-small {
    padding: .25rem 1rem !important;
}

.document-teaser .teaser-small h3 {
    font-size: 15px;
}

.document-teaser .teaser-small h4 {
    font-size: 13px;
}

.document-teaser .teaser-small .short-description {
    font-size: 11px;
}

.document-teaser .teaser-button:hover {
    background-color: var(--main-bg-color-hover);
}

.document-teaser .hierarchy-button {
    width: 30px;
}

.document-teaser .hierarchy-button button {
    width: 30px;
    padding: 0;
}

.document-teaser .hierarchy-button button svg {
    width: 30px !important;
}

.document-teaser .btn-link,
.document-teaser .btn-link:active,
.document-teaser .btn-link:focus {
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.document-teaser .btn-link.active {
    color: var(--main-link-color-hover);
}

.document-teaser .btn-link:hover {
    color: rgba(0, 0, 0, 0.9) !important;
}

.document-teaser .dropdown-toggle {
    height: 100%;
}

.document-teaser .dropdown-toggle::after {
    display: none;
}
