.sidebar .card {
    margin: 0 0 10px;
    flex-shrink: 0;
}

.sidebar .card:first-child {
    margin: 10px 0;
}

.sidebar .card .form-control {
  border: 0;
}

.documents-card {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.documents-card .documents {
    height: 100%;
    overflow: hidden scroll;
}
