.btn-primary {
    background-color: #5572a1;
    border-color: #5572a1;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #748db5 !important;
    border-color: #748db5 !important;
}

.btn {
    border-radius: 0;
}