.btn-primary {
    background-color: #5572a1;
    border-color: #5572a1;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #748db5 !important;
    border-color: #748db5 !important;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus  {
    color: #292b2c !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.btn-link {
    text-align: left;
}

.btn-link,
.btn-link:active,
.btn-link:focus {
    color: rgba(0, 0, 0, 0.5);
}

.btn-link.active {
    color: var(--main-link-color-hover);
}

.btn-link:hover {
    color: rgba(0, 0, 0, 0.9) !important;
}

.btn {
    border-radius: 0;
}

.close-button-icon {
    position: relative;
    bottom: 2px;
}
