.carousel-indicators li {
    background-color: black;
}

.carousel-caption h3 {
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {
    width: 1000px;
    height: 490px;
}

.apple-icon,
.windows-icon {
    position: relative;
    margin-right: 4px;
}

.apple-icon {
    bottom: 2px;
}

.windows-icon {
    bottom: 1px;
}

.download-icon {
    margin-left: 2px;
}