.carousel-indicators li {
    background-color: black;
}

.carousel-caption h3 {
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {
    width: 1000px;
    height: 490px;
}