.navbar-project-arrow {
    position: relative;
    top: 9px;
    left: -6px;
    margin-right: -12px;
    color: rgba(255, 255, 255, 0.5);
}

.active-navitem,
.active-navitem > a {
    color: white !important;
}
