import Config

config :api,
  elasticsearch_url: "elasticsearch:9200",
  elasticsearch_index: "idai-field",
  couchdb_url: "field.dainst.org/sync",
  couchdb_user: "",
  couchdb_password: "",
  couchdb_databases: "",
  gazetteer_url: "https://gazetteer.dainst.org"