import Config

# depending on intended environment, make a copy as either 'prod.exs' or 'dev.exs'

config :api,
  elasticsearch_url: "elasticsearch:9200",
  elasticsearch_index_prefix: "idai-field",
  couchdb_url: "field.dainst.org/sync",
  couchdb_user: "",
  couchdb_password: "",
  gazetteer_url: "https://gazetteer.dainst.org",
  couchdb_databases: ["db1", "db2", "db3"],
  locales: ["de", "en"],
  image_source: "local", # can be either "local" or "cantaloupe"
  # cantaloupe_url: "http://localhost:8182/iiif/2/", # must end with slash. use if "cantaloupe" selected as image_source
  default_filters: [
    %{
      field: "resource.category",
      label: %{ de: "Kategorie", en: "Category" }
    },
    %{
      field: "resource.color",
      label: %{ de: "Farbe", en: "Color" }
    },
    %{
      field: "resource.material",
      label: %{ de: "Material", en: "Material" }
    }
  ]

config :api, Api.Auth.Guardian,
       issuer: "api",
       secret_key: "Secret key. You can use `mix guardian.gen.secret` to get one"

config :api, Api.Auth,
  users: [
    %{ name: "user-1", pass: "pass-1" }
  ],
  readable_projects: %{
    "user-1" => ["a", "b", "c", "d"],
    "anonymous" => ["a"]
  }
